.mainContainer {
  min-height: calc(100vh - 53px);
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.accountsSection {
  min-height: max-content;
  background-color: #fafbfc;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountsContainer {
  /* border: 1px solid black; */
  min-height: 100px;
  width: 100%;
  max-width: 1366px;
  padding: 0.5rem;
  display: flex;
  gap: 0.8rem;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.accountDetailsBox {
  cursor: pointer;
  border-radius: 6px;
  height: 50px;
  min-width: 120px;
  max-width: 200px;
  width: 20%;
  padding: 0.5rem;
  background-color: #64b5f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
}
.accountDetailsBox:hover {
  background-color: #2f92e2;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
}

.accountDisplayNameDash {
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
}

.accountDisplayBalanceDash {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: bold;
}

.addAccBtn {
  cursor: pointer;
  border: 2px dashed #7f8fa4;
  color: #7f8fa4;
  border-radius: 6px;
  height: 50px;
  min-width: 120px;
  max-width: 200px;
  width: 20%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.addAccBtn:hover {
  border: 2px dashed #007aff;
  color: #007aff;
}

/* Widgets Section */
.widgetSection {
  background-color: #eff0f2;
  /* width: 100%; */
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}

.headerDateRange {
  height: 50px;
  width: 100%;
  max-width: 1366px;
  /* border: 1px solid black; */
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 1rem;
}

.addRecBtn {
  background-color: #007aff;
  border: none;
  border-radius: 0.8rem;
  padding: 0.5rem;
  text-align: center;
  color: #fff;
}

.addRecBtn:hover {
  background-color: #006ee6;
}

.dateRangePicker {
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0.8rem;
  background-color: #646c8c;
  color: #f0f0f4;
}

.dateRangePicker:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.widgetsContainer {
  /* border: 1px solid black; */
  height: auto;
  max-width: 1366px;
  padding: 0.5rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: row wrap;
}

.widgetsCard {
  padding: 1rem;
  /* border: 1px solid black; */
  border-radius: 0.7rem;
  min-width: 280px;
  width: 33%;
  max-width: 420px;
  height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.widgetsCardAdd {
  padding: 2rem;
  border: 0.2rem dashed #7f8fa4;
  border-radius: 0.7rem;
  min-width: 280px;
  width: 33%;
  max-width: 420px;
  height: 400px;
  color: #7f8fa4;
  background: transparent;
  cursor: pointer;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.widgetsCardAdd:hover {
  border: 0.2rem dashed #007aff;
  color: #007aff;
}

.donutChart,
.barChart {
  max-height: 300px;
}
